@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.footer-content {
    margin-top: 200px;
    border-top:1px solid rgba(102, 102, 102, 1);
    display: flex;
    justify-content: space-between;
    nav ul{
        display: flex;
        column-gap: 52px;
    }
    nav ul li a {
        font-family: "Poppins", serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;
        text-align: left;

    }
    .footer-text {
        font-family: "Poppins", serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;
        text-align: center;

        

    }
}

@media (max-width:1100px){
    .footer-content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 30px;
    }
}